<launch>

  <!-- Pass in mocap_config_file:=/path/to/config.yaml to change options. -->
  <arg name="mocap_config_file"
       default="$(find mocap_optitrack)/config/mocap_jackal.yaml" />

  <node pkg="mocap_optitrack"
        type="mocap_node"
        name="mocap_node"
        respawn="false"
        launch-prefix=""
        required="true">
    <rosparam file="$(arg mocap_config_file)" command="load" />
  </node>u

<!--<node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="1.65 2.30 -0.47 0 0 0 map map_mocap 100" /> -->
<!--
    x: -1.33537888527
    y: -2.13573217392
-->
<node pkg="tf" type="static_transform_publisher" name="map_mocap_broadcaster" args="5 5 0 0 0 0 map map_mocap 100" />
<node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster2" args="5, 5 0 0 0 0 map odom 100" />
<!-- <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="-1.33 -2.13 -0.47 0 0 0 map map_mocap 100" /> -->

</launch>
